<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/21220451b5.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
    </style>
    <script src="/js/myscripts.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin pagina</title>

</head>
<body>
<div class="header-include" th:insert="header :: header"></div>
<h1 class="ml-5 mt-3">Welkom <span class="titel1" sec:authentication="name"></span></h1>
<div class="container d-flex justify-content-center">


    <ul class=" list-group list-group-horizontal">
        <li class="Hover list-group-item">
            <a class="nav-link" th:href="@{/admin/afspraaknew}">Afspaken maken</a>
        </li>
        <li class="Hover list-group-item">
            <a class="nav-link"  th:href="@{/admin/nagelnew}">Nagels maken</a>
        </li>
        <li class="Hover list-group-item">
            <a class="nav-link"  th:href="@{/admin/portfolionew}">Portfolio maken</a>
        </li>
        <li class="Hover list-group-item">
            <a class="nav-link"  th:href="@{/admin/useredit}">Edit gebruiker</a>
        </li>
    </ul>
</div>


</body>
</html>