# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kobev\Documents\Thomas more 2020-2021\Responsive design\Bootstrap-glamarie\glamarie\Galamarie2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
